Repository ecucondorSA/Autamedica, changes with the owners that .github/CODEOWNERS names for each.
All owners: @autamedica/core-devs, @autamedica/frontend, @autamedica/ux, @autamedica/medical, @autamedica/business, @autamedica/backend, @autamedica/security, @autamedica/contracts, @autamedica/devops, @autamedica/qa, @autamedica/compliance

.github/CODEOWNERS:

# CODEOWNERS - Gobierno de AutaMedica
# Cada línea es un patrón seguido de uno o más propietarios.
# El último patrón que coincida tendrá precedencia.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Core team debe revisar todo
* @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# APLICACIONES
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/apps/web-app/**            @autamedica/frontend @autamedica/ux
/apps/doctors/**            @autamedica/medical @autamedica/frontend
/apps/patients/**           @autamedica/medical @autamedica/ux
/apps/companies/**          @autamedica/business @autamedica/frontend
/apps/admin/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# PACKAGES (Shared Code)
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/packages/types/**           @autamedica/contracts @autamedica/core-devs
/packages/auth/**            @autamedica/security @autamedica/backend
/packages/shared/**          @autamedica/backend @autamedica/core-devs
/packages/hooks/**           @autamedica/frontend @autamedica/core-devs
/packages/ui/**              @autamedica/frontend @autamedica/ux
/packages/database/**        @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DATABASE & INFRAESTRUCTURA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Supabase (critical)
/supabase/**                @autamedica/backend @autamedica/security
/supabase/migrations/**     @autamedica/backend @autamedica/security @autamedica/medical

# RLS policies (security critical)
/supabase/migrations/*rls*  @autamedica/security @autamedica/backend

# Seed data
/supabase/seed*.sql         @autamedica/backend

# Database legacy
/database/**                @autamedica/backend @autamedica/security
/migrations/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CI/CD & AGENTIC OS
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# GitHub Actions workflows
/.github/workflows/**       @autamedica/devops @autamedica/security

# Agentic OS workflow (critical)
/.github/workflows/autamedica-agentic.yml @autamedica/devops @autamedica/core-devs

# Deployment & rollback scripts (critical)
/scripts/*deploy*           @autamedica/devops
/scripts/*rollback*         @autamedica/devops
/scripts/health-gate.mjs    @autamedica/devops @autamedica/qa
/scripts/slo-budget-check.mjs @autamedica/devops
/scripts/k6-smoke.js        @autamedica/devops @autamedica/qa

# Infrastructure
/workers/**                 @autamedica/backend @autamedica/devops
wrangler.toml               @autamedica/devops
turbo.json                  @autamedica/devops @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# SEGURIDAD & COMPLIANCE
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Security headers (critical)
/**/_headers                @autamedica/security @autamedica/devops

# Environment variables (critical)
**/*.env*                   @autamedica/security
.env*                       @autamedica/security

# Security docs
SECURITY.md                 @autamedica/security
/docs/security/**           @autamedica/security @autamedica/compliance

# Auth & roles (critical)
/**/*auth*.ts               @autamedica/security @autamedica/backend
/**/*auth*.tsx              @autamedica/security @autamedica/frontend
/**/*role*.ts               @autamedica/security @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DOCUMENTACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Main docs
/README.md                  @autamedica/core-devs
/CLAUDE.md                  @autamedica/core-devs
/agente.md                  @autamedica/core-devs

# Medical docs & contracts
/docs/GLOSARIO_MAESTRO.md   @autamedica/medical @autamedica/contracts
/docs/medical/**            @autamedica/medical @autamedica/compliance
/scripts/validate-contracts.js @autamedica/contracts @autamedica/devops
/scripts/validate-conventions.mjs @autamedica/core-devs @autamedica/devops

# API docs
/docs/api/**                @autamedica/backend @autamedica/contracts

# Database docs
/docs/database/**           @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# TESTING & QA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/tests/**                   @autamedica/qa @autamedica/backend
**/test/**                  @autamedica/qa
**/*.test.*                 @autamedica/qa
**/*.spec.*                 @autamedica/qa
playwright.config.*         @autamedica/qa @autamedica/devops
vitest.config.*             @autamedica/qa @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CONFIGURACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

package.json                @autamedica/core-devs @autamedica/devops
pnpm-workspace.yaml         @autamedica/core-devs
pnpm-lock.yaml              @autamedica/core-devs
tsconfig*.json              @autamedica/core-devs
.eslintrc*                  @autamedica/core-devs
.prettierrc*                @autamedica/core-devs
.gitignore                  @autamedica/core-devs

feat: integrate agentic workflow system
  CLAUDE.md
  agente.md
  package.json
  scripts/run-agent.sh
  scripts/run-agentic-local.sh
Owners: @autamedica/core-devs, @autamedica/devops

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

docs: add comprehensive browser comparison guide for developers 2025
  apps/doctors/src/app/page.tsx
  docs/BROWSERS_FOR_DEVELOPERS_2025.md
  packages/supabase-client/src/index.ts
Owners: @autamedica/medical, @autamedica/frontend, @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(web-app): implement critical security and accessibility fixes
  apps/web-app/next.config.mjs
  apps/web-app/src/components/monitoring/PerformanceWidget.tsx
  apps/web-app/tailwind.config.ts
  generated-docs/PROFESSIONAL_ANALYSIS_WEB_APP.md
  generated-docs/browser-captures/capture-1759772625753.json
  generated-docs/browser-captures/capture-1759772814202.json
  generated-docs/browser-captures/capture-1759772830401.json
  generated-docs/browser-captures/capture-1759772845032.json
  generated-docs/browser-captures/capture-1759774342214.json
  generated-docs/browser-captures/report-1759772625777.md
  generated-docs/browser-captures/report-1759772814232.md
  generated-docs/browser-captures/report-1759772830418.md
  generated-docs/browser-captures/report-1759772845052.md
  generated-docs/browser-captures/report-1759774342238.md
  generated-docs/browser-captures/screenshot-1759772624365.png
  generated-docs/browser-captures/screenshot-1759772812884.png
  generated-docs/browser-captures/screenshot-1759772830251.png
  generated-docs/browser-captures/screenshot-1759772844875.png
  generated-docs/browser-captures/screenshot-1759774340764.png
Owners: @autamedica/frontend, @autamedica/ux, @autamedica/core-devs

cleanup: remove 5 unused components
  apps/web-app/src/components/experience/MobileExperience.tsx
  apps/web-app/src/components/experience/ResponsiveExperience.tsx
  apps/web-app/src/components/landing/InnovationSection.tsx
  apps/web-app/src/components/landing/ProcessSection.tsx
  apps/web-app/src/components/ui/ModernLoader.tsx
  generated-docs/DEEP_AUDIT_LOCALHOST_3000.md
  generated-docs/browser-captures/capture-1759776403848.json
  generated-docs/browser-captures/report-1759776403873.md
  generated-docs/browser-captures/screenshot-1759776403148.png
Owners: @autamedica/frontend, @autamedica/ux, @autamedica/core-devs

perf(web-app): Sprint 1+2 performance and accessibility optimizations
  apps/web-app/next.config.mjs
  apps/web-app/src/components/experience/EnhancedLandingExperience.tsx
  apps/web-app/src/components/experience/HeroVertical.tsx
  apps/web-app/src/components/landing/ProfessionalFooter.tsx
  apps/web-app/src/components/landing/TestimonialsSection.tsx
  generated-docs/browser-captures/capture-1759777196880.json
  generated-docs/browser-captures/report-1759777196940.md
  generated-docs/browser-captures/screenshot-1759777193103.png
Owners: @autamedica/frontend, @autamedica/ux, @autamedica/core-devs

fix(web-app): optimize AccountMenu for mobile devices
  apps/web-app/src/components/ui/AccountMenu.tsx
Owners: @autamedica/frontend, @autamedica/ux

docs: comprehensive multi-viewport audit with Playwright MCP
  generated-docs/EXECUTIVE_AUDIT_REPORT.md
  generated-docs/browser-captures/capture-1759781652118.json
  generated-docs/browser-captures/report-1759781652149.md
  generated-docs/browser-captures/screenshot-1759781649881.png
  generated-docs/comprehensive-audit/COMPREHENSIVE_AUDIT_REPORT.md
  generated-docs/comprehensive-audit/audit_results.json
  generated-docs/comprehensive-audit/desktop_full_page.png
  generated-docs/comprehensive-audit/desktop_viewport.png
  generated-docs/comprehensive-audit/interaction_carousel_dot0.png
  generated-docs/comprehensive-audit/mobile_full_page.png
  generated-docs/comprehensive-audit/mobile_landscape_full_page.png
  generated-docs/comprehensive-audit/mobile_landscape_viewport.png
  generated-docs/comprehensive-audit/mobile_viewport.png
  generated-docs/comprehensive-audit/tablet_full_page.png
  generated-docs/comprehensive-audit/tablet_viewport.png
  scripts/comprehensive-multi-viewport-audit.mjs
Owners: @autamedica/core-devs

fix(companies): prevent truncation of "3.5x" ROI metric
  apps/web-app/src/components/landing/ProfessionalCompaniesFeatures.tsx
Owners: @autamedica/frontend, @autamedica/ux

fix(companies): resolve z-index overlap - Essential card behind popover
  apps/web-app/src/components/landing/ProfessionalCompaniesFeatures.tsx
Owners: @autamedica/frontend, @autamedica/ux

fix(companies): REAL fix for z-index overlap - change popover to relative positioning
  apps/web-app/src/components/landing/ProfessionalCompaniesFeatures.tsx
Owners: @autamedica/frontend, @autamedica/ux

fix(web-app): resolve static export compatibility issues
  apps/web-app/package.json
  apps/web-app/src/app/api/analytics/vitals/route.ts
  apps/web-app/src/app/web-vitals.tsx
  pnpm-lock.yaml
Owners: @autamedica/core-devs, @autamedica/devops, @autamedica/frontend, @autamedica/ux

refactor(auth): migrate to TypeScript Puro for better type accuracy
  packages/auth/package.json
  packages/auth/src/session.ts
  packages/auth/tsconfig.json
  packages/auth/tsup.config.ts
  pnpm-lock.yaml
Owners: @autamedica/core-devs, @autamedica/devops, @autamedica/security, @autamedica/backend

fix(conventions): improve validator to eliminate false positives
  scripts/validate-conventions.mjs
Owners: @autamedica/core-devs, @autamedica/devops

fix(auth): add missing @autamedica/tailwind-config dependency
  apps/auth/package.json
Owners: @autamedica/core-devs, @autamedica/devops

docs: comprehensive auth app audit and fix roadmap
  generated-docs/AUTH_APP_AUDIT_REPORT.md
  generated-docs/AUTH_APP_FIX_ROADMAP.md
  generated-docs/browser-captures/capture-1759782104296.json
  generated-docs/browser-captures/report-1759782104318.md
  generated-docs/browser-captures/screenshot-1759782104151.png
  generated-docs/comprehensive-audit/COMPREHENSIVE_AUDIT_REPORT.md
  generated-docs/comprehensive-audit/audit_results.json
  generated-docs/comprehensive-audit/desktop_full_page.png
  generated-docs/comprehensive-audit/interaction_carousel_dot0.png
  generated-docs/comprehensive-audit/mobile_landscape_full_page.png
  generated-docs/comprehensive-audit/mobile_landscape_viewport.png
  generated-docs/comprehensive-audit/tablet_full_page.png
  generated-docs/comprehensive-audit/tablet_viewport.png
Owners: @autamedica/core-devs

fix(auth): resolve 23 TypeScript errors - 74% reduction (31→8)
  apps/auth/package.json
  apps/auth/src/__tests__/profile-manager.test.ts
  apps/auth/src/app/profile/page.tsx
  apps/auth/src/components/SearchParamsWrapper.tsx
  apps/auth/src/lib/supabase/client.ts
  apps/auth/src/lib/supabase/config.ts
  apps/auth/src/lib/supabase/server.ts
  apps/auth/tsconfig.tsbuildinfo
  apps/auth/vitest.config.ts
  packages/shared/.tsbuildinfo
  packages/shared/src/auth/portals.ts
  packages/shared/src/role-routing.ts
  packages/shared/src/roles.ts
  pnpm-lock.yaml
Owners: @autamedica/core-devs, @autamedica/devops, @autamedica/qa, @autamedica/backend, @autamedica/security

fix(auth): resolve remaining 8 TypeScript errors - 100% completion (31→0)
  apps/auth/src/__tests__/profile-manager.test.ts
  apps/auth/src/app/layout.tsx
  apps/auth/src/components/SearchParamsWrapper.tsx
  apps/auth/src/lib/auth-service.ts
  apps/auth/src/lib/profile-manager.ts
  apps/auth/tsconfig.tsbuildinfo
Owners: @autamedica/qa, @autamedica/core-devs, @autamedica/security, @autamedica/backend

fix(ci): remove pnpm version conflict in deploy-auth workflow
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(types): resolver errores de TypeScript para deployment
  packages/hooks/tsconfig.build.tsbuildinfo
  packages/telemedicine/tsconfig.build.tsbuildinfo
  scripts/ai-testing/autonomo-tests.yml
  scripts/ai-testing/generate-test-prompt.mjs
  scripts/ai-testing/run-autonomo-tests.sh
  scripts/ai-testing/run-intelligent-tests.mjs
  tools/playwright-debugger/data/session_77a694ac-dc9c-43c4-aea8-10f486b5f139.json
  tools/playwright-debugger/reports/analysis_77a694ac-dc9c-43c4-aea8-10f486b5f139.json
Owners: @autamedica/frontend, @autamedica/core-devs

fix(ci): use build:packages:core in deploy-auth workflow to avoid building all apps
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(auth): corregir errores ESLint - remover imports no usados y variables
  apps/auth/src/__tests__/profile-manager.test.ts
  apps/auth/src/hooks/use-auth.ts
  apps/auth/src/lib/auth-service.ts
  apps/auth/src/lib/supabase/client.ts
  apps/auth/src/lib/supabase/server.ts
  apps/auth/src/middleware.ts
Owners: @autamedica/qa, @autamedica/security, @autamedica/backend, @autamedica/core-devs

fix(ci): cambiar de OpenNext a @cloudflare/next-on-pages para compatibilidad con Next.js 15.5
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(ci): aplicar workflow de main con @cloudflare/next-on-pages y branch dinámico
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(ci): añadir variables de entorno Supabase al build step
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(ci): usar pnpm para build y solo convertir con next-on-pages (evita npm workspace issues)
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(ci): usar next-on-pages completo con SKIP_DEPENDENCY_INSTALL para build con variables de entorno
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(workflow): aplicar configuración de deployment desde main
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(workflow): añadir variables Supabase al build step
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(workflow): usar pnpm dlx en lugar de npx
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(auth): configurar Edge Runtime para Cloudflare Pages
  apps/auth/src/app/api/session-sync/route.ts
  apps/auth/src/app/auth/callback/route.ts
Owners: @autamedica/core-devs

test: trigger deployment with correct Cloudflare credentials
  .github/workflows/.deployment-test
Owners: @autamedica/devops, @autamedica/security

feat(workflow): add workflow_dispatch input for manual trigger
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

fix(auth): force rebuild to update Supabase env vars from gtyvdircfhmdjiaelqkg to ewpsepaieakqbywxnidu
  apps/auth/REBUILD.md
Owners: @autamedica/core-devs

fix(auth): inject Supabase env vars at build time to use new project
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(auth): configure Edge Runtime for Cloudflare Pages compatibility
  apps/auth/src/app/api/session-sync/route.ts
  apps/auth/src/app/auth/callback/route.ts
Owners: @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

Align shared role routing with admin portal and stabilize tests
  packages/shared/__tests__/db-soft-delete.test.ts
  packages/shared/src/auth/portals.ts
  packages/shared/src/env.ts
  packages/shared/src/role-routing.ts
  packages/shared/src/roles.ts
Owners: @autamedica/qa, @autamedica/backend, @autamedica/core-devs, @autamedica/security
