Repository ecucondorSA/Autamedica, changes with the owners that .github/CODEOWNERS names for each.
All owners: @autamedica/core-devs, @autamedica/frontend, @autamedica/ux, @autamedica/medical, @autamedica/business, @autamedica/backend, @autamedica/security, @autamedica/contracts, @autamedica/devops, @autamedica/qa, @autamedica/compliance

fix(critical): remove hardcoded old Supabase project fallbacks
  packages/auth/src/utils/config.ts
  packages/shared/src/auth/session.ts
Owners: @autamedica/security, @autamedica/backend, @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

Stabilize auth and telemedicine tests
  apps/auth/src/__tests__/profile-manager.test.ts
  apps/auth/src/lib/profile-manager.ts
  apps/auth/vitest.setup.ts
  packages/supabase-client/src/index.ts
  packages/telemedicine/src/config/ice-servers.ts
  packages/telemedicine/src/config/index.ts
  packages/telemedicine/src/hooks/useTelemedicineClient.ts
  packages/telemedicine/vitest.setup.ts
Owners: @autamedica/qa, @autamedica/core-devs

fix(critical): remove hardcoded old Supabase project from wrangler.toml
  apps/patients/wrangler.toml
  wrangler.toml
Owners: @autamedica/devops

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(critical): pass Supabase env vars to Wrangler deploy step
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(CRITICAL): replace ALL hardcoded old Supabase project refs in CSP and configs
  apps/auth/next.config.mjs
  apps/auth/public/_headers
  apps/companies/public/_headers
  apps/doctors/public/_headers
  apps/patients/next.config.mjs
  apps/patients/public/_headers
  apps/web-app/public/_headers
Owners: @autamedica/core-devs, @autamedica/security, @autamedica/devops, @autamedica/medical, @autamedica/ux

fix(CRITICAL): replace ALL hardcoded old Supabase project refs
  apps/doctors/src/middleware.ts
  apps/patients/.env.production
Owners: @autamedica/medical, @autamedica/frontend, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

refactor: fix critical TypeScript errors and update configurations
  apps/auth/src/__tests__/profile-manager.test.ts
  apps/companies/tsconfig.json
  apps/patients/src/app/call/[roomId]/CallPageClient.tsx
  apps/patients/src/app/test-call/page.tsx
  apps/patients/src/app/test-medical-panel/page.tsx
  apps/patients/src/app/webrtc-test/page.tsx
  apps/patients/src/components/calls/IncomingCallModal.tsx
  apps/patients/tsconfig.json
  generated-docs/CRITICAL_ISSUES_SUMMARY.md
  generated-docs/DEBUG_SESSION_INDEX.md
  generated-docs/credential-update-report-2025-10-09.md
  generated-docs/database-glossary-2025-10-09.md
  generated-docs/lab-debug-report-2025-10-09.md
  generated-docs/logger-import-fixes-2025-10-09.md
  generated-docs/refactor-summary-2025-10-09.md
  package.json
  packages/hooks/tsconfig.tsbuildinfo
  packages/telemedicine/tsconfig.tsbuildinfo
  scripts/cleanup-plan.sh
Owners: @autamedica/qa, @autamedica/core-devs, @autamedica/medical, @autamedica/ux, @autamedica/devops, @autamedica/frontend

chore: force redeploy auth with all Supabase fixes
  apps/auth/README.md
Owners: @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(workflow): force clean build and bypass cache to eliminate old Supabase project
  .github/workflows/deploy-auth.yml
Owners: @autamedica/devops, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

refactor: apply good changes from PR #15 + fix React hooks rules
  apps/patients/src/app/call/[roomId]/CallPageClient.tsx
  apps/patients/src/app/test-call/page.tsx
Owners: @autamedica/medical, @autamedica/ux

fix(CRITICAL): force redeploy with correct ANON_KEY from GitHub Secrets
  apps/auth/.force-deploy-1759987476
Owners: @autamedica/core-devs

refactor: apply good changes from PR #15 (cherry-pick manual)
  apps/auth/src/__tests__/profile-manager.test.ts
  apps/auth/tsconfig.tsbuildinfo
  apps/companies/tsconfig.json
  apps/patients/src/app/call/[roomId]/CallPageClient.tsx
  apps/patients/src/app/test-call/page.tsx
  apps/patients/src/app/webrtc-test/page.tsx
  apps/patients/src/components/calls/IncomingCallModal.tsx
  apps/patients/tsconfig.json
  apps/patients/tsconfig.tsbuildinfo
  apps/signaling-server/tsconfig.tsbuildinfo
  package.json
  packages/auth/.tsbuildinfo
  packages/hooks/tsconfig.build.tsbuildinfo
  packages/shared/.tsbuildinfo
  packages/telemedicine/tsconfig.build.tsbuildinfo
  packages/ui/tsconfig.tsbuildinfo
  wrangler.toml
Owners: @autamedica/qa, @autamedica/core-devs, @autamedica/medical, @autamedica/ux, @autamedica/devops, @autamedica/security, @autamedica/backend, @autamedica/frontend

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

refactor: add logger imports to 18 files (batch 1/2)
  apps/auth/src/app/api/session-sync/route.ts
  apps/doctors/src/app/auth/callback/route.ts
  apps/doctors/src/app/layout.tsx
  apps/doctors/src/components/calls/WaitingRoom.tsx
  apps/doctors/src/components/consultation/DoctorVideoConsultation.tsx
  apps/doctors/src/contexts/AuthContext.tsx
  apps/doctors/src/services/ai-analysis-service.ts
  apps/doctors/src/services/api/base.service.ts
  apps/doctors/src/services/gemini-ai-service.ts
  apps/doctors/src/services/medical-data-api.ts
  apps/doctors/src/services/unified-ai-service.ts
  apps/patients/src/app/api/appointments/[id]/route.ts
  apps/patients/src/app/api/appointments/route.ts
  apps/patients/src/components/anamnesis/MediaEducativa.tsx
  apps/patients/src/components/appointments/CreateAppointmentModal.tsx
  apps/patients/src/components/consultation/VideoConsultation.tsx
  apps/patients/src/hooks/useAppointments.ts
  apps/patients/src/hooks/useRealRemoteStream.ts
  packages/shared/src/config/feature-flags.ts
Owners: @autamedica/core-devs, @autamedica/medical, @autamedica/frontend, @autamedica/ux, @autamedica/backend

fix: add workflow to deploy auth with correct env vars
  .github/workflows/deploy-auth-fix.yml
Owners: @autamedica/devops, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(workflow): remove pnpm version conflict
  .github/workflows/deploy-auth-fix.yml
Owners: @autamedica/devops, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(workflow): remove NODE_ENV from global env, disable husky
  .github/workflows/deploy-auth-fix.yml
Owners: @autamedica/devops, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(workflow): install all dependencies including dev
  .github/workflows/deploy-auth-fix.yml
Owners: @autamedica/devops, @autamedica/security

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix: Add static CLIENT_ENV_MAP for Next.js environment variable injection
  packages/shared/src/env.ts
Owners: @autamedica/backend, @autamedica/core-devs

fix: Use ensureClientEnv instead of ensureEnv in Supabase config
  apps/auth/src/lib/supabase/config.ts
Owners: @autamedica/core-devs

fix: Replace process.env.NODE_ENV with isDevelopment() in Supabase config
  apps/auth/src/lib/supabase/config.ts
Owners: @autamedica/core-devs

feat: Add auth callback route to patients app
  apps/patients/src/app/auth/callback/route.ts
Owners: @autamedica/medical, @autamedica/ux

fix: Use ensureClientEnv in patients callback route
  apps/patients/src/app/auth/callback/route.ts
Owners: @autamedica/medical, @autamedica/ux

feat(patients): Implementar sistema completo de videoconsultas
  apps/patients/src/components/appointments/CreateAppointmentModal.tsx
  apps/patients/src/components/consultation/VideoConsultation.tsx
  apps/patients/src/hooks/useAppointments.ts
  apps/patients/src/hooks/useRealRemoteStream.ts
  apps/patients/src/hooks/useWebRTCVideoCall.ts
Owners: @autamedica/medical, @autamedica/ux

fix(security): apply automated quickfixes from audit
  apps/doctors/public/_headers
  apps/patients/public/_headers
  apps/web-app/public/_headers
  package.json
Owners: @autamedica/security, @autamedica/devops, @autamedica/core-devs

fix(patients): Use client-only import for useSupabase in WebRTC hook
  apps/patients/src/app/auth/callback/route.ts
  apps/patients/src/hooks/useWebRTCVideoCall.ts
Owners: @autamedica/medical, @autamedica/ux

fix(patients): resolver error 404 post-login y problemas de build
  apps/patients/src/app/auth/callback/route.ts
  apps/patients/src/app/onboarding/actions.ts
Owners: @autamedica/medical, @autamedica/ux

fix: Replace process.env.NODE_ENV with isDevelopment() in Supabase config
  apps/auth/src/lib/supabase/config.ts
Owners: @autamedica/core-devs

fix: Add static CLIENT_ENV_MAP for Next.js environment variable injection
  packages/shared/src/env.ts
Owners: @autamedica/backend, @autamedica/core-devs

fix: Use ensureClientEnv instead of ensureEnv in Supabase config
  apps/auth/src/lib/supabase/config.ts
Owners: @autamedica/core-devs

.github/CODEOWNERS:

# CODEOWNERS - Gobierno de AutaMedica
# Cada línea es un patrón seguido de uno o más propietarios.
# El último patrón que coincida tendrá precedencia.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Core team debe revisar todo
* @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# APLICACIONES
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/apps/web-app/**            @autamedica/frontend @autamedica/ux
/apps/doctors/**            @autamedica/medical @autamedica/frontend
/apps/patients/**           @autamedica/medical @autamedica/ux
/apps/companies/**          @autamedica/business @autamedica/frontend
/apps/admin/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# PACKAGES (Shared Code)
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/packages/types/**           @autamedica/contracts @autamedica/core-devs
/packages/auth/**            @autamedica/security @autamedica/backend
/packages/shared/**          @autamedica/backend @autamedica/core-devs
/packages/hooks/**           @autamedica/frontend @autamedica/core-devs
/packages/ui/**              @autamedica/frontend @autamedica/ux
/packages/database/**        @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DATABASE & INFRAESTRUCTURA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Supabase (critical)
/supabase/**                @autamedica/backend @autamedica/security
/supabase/migrations/**     @autamedica/backend @autamedica/security @autamedica/medical

# RLS policies (security critical)
/supabase/migrations/*rls*  @autamedica/security @autamedica/backend

# Seed data
/supabase/seed*.sql         @autamedica/backend

# Database legacy
/database/**                @autamedica/backend @autamedica/security
/migrations/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CI/CD & AGENTIC OS
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# GitHub Actions workflows
/.github/workflows/**       @autamedica/devops @autamedica/security

# Agentic OS workflow (critical)
/.github/workflows/autamedica-agentic.yml @autamedica/devops @autamedica/core-devs

# Deployment & rollback scripts (critical)
/scripts/*deploy*           @autamedica/devops
/scripts/*rollback*         @autamedica/devops
/scripts/health-gate.mjs    @autamedica/devops @autamedica/qa
/scripts/slo-budget-check.mjs @autamedica/devops
/scripts/k6-smoke.js        @autamedica/devops @autamedica/qa

# Infrastructure
/workers/**                 @autamedica/backend @autamedica/devops
wrangler.toml               @autamedica/devops
turbo.json                  @autamedica/devops @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# SEGURIDAD & COMPLIANCE
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Security headers (critical)
/**/_headers                @autamedica/security @autamedica/devops

# Environment variables (critical)
**/*.env*                   @autamedica/security
.env*                       @autamedica/security

# Security docs
SECURITY.md                 @autamedica/security
/docs/security/**           @autamedica/security @autamedica/compliance

# Auth & roles (critical)
/**/*auth*.ts               @autamedica/security @autamedica/backend
/**/*auth*.tsx              @autamedica/security @autamedica/frontend
/**/*role*.ts               @autamedica/security @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DOCUMENTACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Main docs
/README.md                  @autamedica/core-devs
/CLAUDE.md                  @autamedica/core-devs
/agente.md                  @autamedica/core-devs

# Medical docs & contracts
/docs/GLOSARIO_MAESTRO.md   @autamedica/medical @autamedica/contracts
/docs/medical/**            @autamedica/medical @autamedica/compliance
/scripts/validate-contracts.js @autamedica/contracts @autamedica/devops
/scripts/validate-conventions.mjs @autamedica/core-devs @autamedica/devops

# API docs
/docs/api/**                @autamedica/backend @autamedica/contracts

# Database docs
/docs/database/**           @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# TESTING & QA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/tests/**                   @autamedica/qa @autamedica/backend
**/test/**                  @autamedica/qa
**/*.test.*                 @autamedica/qa
**/*.spec.*                 @autamedica/qa
playwright.config.*         @autamedica/qa @autamedica/devops
vitest.config.*             @autamedica/qa @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CONFIGURACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

package.json                @autamedica/core-devs @autamedica/devops
pnpm-workspace.yaml         @autamedica/core-devs
pnpm-lock.yaml              @autamedica/core-devs
tsconfig*.json              @autamedica/core-devs
.eslintrc*                  @autamedica/core-devs
.prettierrc*                @autamedica/core-devs
.gitignore                  @autamedica/core-devs
