Repository ecucondorSA/Autamedica, changes with the owners that .github/CODEOWNERS names for each.
All owners: @autamedica/core-devs, @autamedica/contracts, @autamedica/security, @autamedica/backend, @autamedica/frontend, @autamedica/ux, @autamedica/medical, @autamedica/business, @autamedica/devops, @autamedica/compliance, @autamedica/qa

.github/CODEOWNERS:

# CODEOWNERS - Gobierno de Autamedica
# Cada línea es un patrón seguido de uno o más propietarios.
# El último patrón que coincida tendrá precedencia.

# Global fallback - Core team debe revisar todo
* @autamedica/core-devs

# Arquitectura y Packages Core
/packages/types/**           @autamedica/contracts @autamedica/core-devs
/packages/auth/**            @autamedica/security @autamedica/backend
/packages/shared/**          @autamedica/backend @autamedica/core-devs
/packages/hooks/**           @autamedica/frontend @autamedica/core-devs

# Aplicaciones por especialidad
/apps/web-app/**            @autamedica/frontend @autamedica/ux
/apps/doctors/**            @autamedica/medical @autamedica/frontend
/apps/patients/**           @autamedica/medical @autamedica/ux
/apps/companies/**          @autamedica/business @autamedica/frontend
/apps/admin/**              @autamedica/backend @autamedica/security

# Infraestructura y DevOps
/.github/**                 @autamedica/devops @autamedica/security
/workers/**                 @autamedica/backend @autamedica/devops
wrangler.toml               @autamedica/devops
turbo.json                  @autamedica/devops
package.json                @autamedica/core-devs @autamedica/devops
pnpm-lock.yaml              @autamedica/core-devs

# Seguridad y Compliance
**/*.env*                   @autamedica/security
SECURITY.md                 @autamedica/security
/docs/security/**           @autamedica/security @autamedica/compliance

# Documentación médica y contratos
/docs/GLOSARIO_MAESTRO.md   @autamedica/medical @autamedica/contracts
/docs/medical/**            @autamedica/medical @autamedica/compliance
/scripts/validate-contracts.js @autamedica/contracts @autamedica/devops

# Base de datos y migraciones (cuando se agreguen)
/database/**                @autamedica/backend @autamedica/security
/migrations/**              @autamedica/backend @autamedica/security

# Testing y QA
/tests/**                   @autamedica/qa @autamedica/backend
**/test/**                  @autamedica/qa
**/*.test.*                 @autamedica/qa
playwright.config.*         @autamedica/qa @autamedica/devops

🤖 feat: sistema AI/DX enterprise - calidad + automatización + IA
  .eslintrc.cjs
  .github/pull_request_template.md
  .github/workflows/ai-review-claude.yml
  .github/workflows/ai-review-gpt.yml
  .github/workflows/changelog.yml
  .github/workflows/comentar-preview.yml
  .github/workflows/verificacion-basica.yml
  .husky/pre-commit
  .husky/pre-push
  apps/admin/tsconfig.json
  apps/companies/tsconfig.json
  apps/doctors/src/app/call/[roomId]/CallPageClient.tsx
  apps/doctors/tsconfig.json
  apps/patients/tsconfig.json
  apps/web-app/tsconfig.json
  docs/adr/README.md
  package.json
  packages/auth/tsconfig.json
  packages/auth/tsconfig.tsbuildinfo
  packages/hooks/tsconfig.json
  packages/shared/tsconfig.json
  packages/telemedicine/tsconfig.json
  packages/types/tsconfig.json
  packages/typescript-config/tsconfig.strict.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.tsbuildinfo
  packages/utils/tsconfig.json
  packages/utils/tsconfig.tsbuildinfo
  scripts/ai-pr-review.sh
  scripts/validate-exports.mjs
  tsconfig.json
  turbo.json
Owners: @autamedica/core-devs, @autamedica/devops, @autamedica/security, @autamedica/backend, @autamedica/business, @autamedica/frontend, @autamedica/medical, @autamedica/ux, @autamedica/contracts

fix(ci): resolve memory and build order pipeline issues
  packages/auth/tsconfig.json
  packages/ui/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
Owners: @autamedica/security, @autamedica/backend, @autamedica/core-devs

📚 docs: agregar descripción sistema AI/DX enterprise
  README.md
Owners: @autamedica/core-devs

🔧 fix: agregar timeout 900s a prepush hooks
  package.json
Owners: @autamedica/core-devs, @autamedica/devops

🔧 fix: aumentar memoria NODE_OPTIONS para ESLint
  package.json
Owners: @autamedica/core-devs, @autamedica/devops

✨ nova feature: smoke test AI/DX & CI
  apps/web-app/smoke.ts
  pr.diff
  scripts/ai-pr-review.sh
Owners: @autamedica/frontend, @autamedica/ux, @autamedica/core-devs

feat(db): introduce organizations/org_members/user_roles with organization_admin role
  packages/auth/tsconfig.json
  packages/shared/src/env.ts
  packages/shared/src/role-routing.ts
  packages/types/package.json
  supabase/migrations/20250929_introduce_role_system.sql
Owners: @autamedica/security, @autamedica/backend, @autamedica/core-devs, @autamedica/devops

feat: complete role system implementation with tests, seeds and CI/CD
  packages/shared/__tests__/role-routing.test.ts
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  packages/shared/tsconfig.tsbuildinfo
Owners: @autamedica/qa, @autamedica/backend, @autamedica/core-devs

fix: enable composite mode for auth package
  packages/auth/tsup.config.ts
Owners: @autamedica/security, @autamedica/backend

fix: add missing organization_admin role to role selection form
  apps/web-app/src/app/auth/select-role/RoleSelectionForm.tsx
Owners: @autamedica/frontend, @autamedica/ux

security: remove hardcoded keys, unified role routing, secure cookies
  .env.staging
  AUDIT_REPORT.md
  apps/admin/middleware.ts
  apps/companies/middleware.ts
  apps/doctors/middleware.ts
  package.json
  packages/auth/src/client/supabase.ts
  packages/shared/dist-esm/__tests__/role-routing.test.js
  packages/shared/dist-esm/src/env.js
  packages/shared/dist-esm/src/env.test.js
  packages/shared/dist-esm/src/index.js
  packages/shared/dist-esm/src/role-routing.js
  packages/shared/dist-esm/src/services/logger.service.js
  packages/shared/dist-esm/src/validators.js
  packages/shared/dist-esm/src/validators.test.js
  packages/shared/dist-esm/vitest.config.js
  packages/shared/src/auth/session.ts
  packages/shared/src/env/getAppUrl.ts
  packages/shared/src/env/portals.ts
  packages/shared/src/index.ts
  packages/shared/src/security/redirects.ts
  packages/shared/tsconfig.temp.json
  packages/shared/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  scripts/release-org-roles.sh
  test-cloudflare-endpoints.mjs
  test-role-routing-cloudflare.mjs
  test-role-routing-simple.mjs
  test-role-routing.mjs
Owners: @autamedica/security, @autamedica/core-devs, @autamedica/backend, @autamedica/business, @autamedica/frontend, @autamedica/medical, @autamedica/devops, @autamedica/qa

docs(db): glosario BD híbrido (SQL parsing auto + HIPAA + ERD) – CI gates
  .github/workflows/database-glossary-minimal.yml
  .github/workflows/database-glossary-validation.yml
  config/hipaa.columns.json
  package.json
  pnpm-lock.yaml
  scripts/database-glossary/README.md
  scripts/database-glossary/adapters/postgresql.ts
  scripts/database-glossary/adapters/sql-parser.ts
  scripts/database-glossary/cli/index.ts
  scripts/database-glossary/templates/helpers.js
  scripts/database-glossary/templates/hipaa-compliance.hbs
  scripts/database-glossary/templates/main.hbs
  scripts/database-glossary/templates/table-detail.hbs
  scripts/database-glossary/tsconfig.json
  scripts/database-glossary/types/index.ts
  scripts/database-glossary/utils/hipaa-classifier.ts
  scripts/database-glossary/utils/pg-to-ts-mapper.ts
  supabase/migrations/_archive/20250920000001_create_medical_tables.sql.applied
  supabase/migrations/_archive/20250922000002_fix_rls_policies.sql.applied
  supabase/migrations/_archive/20250928_create_calls_system.sql.applied
  supabase/migrations/_archive/20250929_create_profiles_table.sql.applied
  supabase/migrations/_archive/20250929_introduce_role_system.sql.applied
Owners: @autamedica/devops, @autamedica/security, @autamedica/core-devs

docs: link database glossary from GLOSARIO_MAESTRO
  docs/GLOSARIO_MAESTRO.md
Owners: @autamedica/medical, @autamedica/contracts

fix(gsap-carousel): dots controlan navegación y se sincronizan con ScrollTrigger
  apps/web-app/src/components/experience/HorizontalExperience.tsx
Owners: @autamedica/frontend, @autamedica/ux

fix(auth): reemplazar process.env con ensureEnv en routes API
  apps/auth/src/app/api/health/route.ts
  apps/auth/src/app/api/session-sync/route.ts
  apps/auth/src/app/auth/callback/route.ts
  generated-docs/database-glossary-2025-09-30.md
  scripts/monitor-auth.mjs
Owners: @autamedica/core-devs

fix(auth): variable error no usada en catch block
  .husky/pre-push
  apps/auth/src/app/auth/callback/route.ts
  apps/auth/wrangler.toml
  generated-docs/database-glossary-2025-09-30.md
  pnpm-lock.yaml
Owners: @autamedica/core-devs, @autamedica/devops

fix(cloudflare): build command para web-app solo (evita build de otras apps)
  AUTH_DEPLOYMENT_STATUS.md
  apps/admin/middleware.ts
  apps/admin/tailwind.config.ts
  apps/auth/src/app/auth/callback/route.ts
  apps/doctors/src/app/call/[roomId]/page.tsx
  apps/doctors/src/app/webrtc-test/page.tsx
  apps/doctors/src/lib/supabase.ts
  apps/web-app/wrangler.toml
  generated-docs/database-glossary-2025-09-30.md
  package.json
  packages/hooks/tsconfig.tsbuildinfo
  packages/telemedicine/tsconfig.tsbuildinfo
Owners: @autamedica/core-devs, @autamedica/backend, @autamedica/security, @autamedica/medical, @autamedica/frontend, @autamedica/devops

fix(cloudflare): remover [build] de wrangler.toml (no soportado en Pages)
  CLOUDFLARE_PAGES_CONFIG.md
  apps/web-app/wrangler.toml
  generated-docs/database-glossary-2025-09-30.md
Owners: @autamedica/core-devs, @autamedica/devops

fix(web-app): actualizar build:cloudflare script
  apps/web-app/package.json
  generated-docs/database-glossary-2025-09-30.md
Owners: @autamedica/core-devs, @autamedica/devops

docs: agregar guía completa de deployment para Cloudflare Pages
  DEPLOYMENT_GUIDE.md
  generated-docs/database-glossary-2025-09-30.md
Owners: @autamedica/core-devs
