Repository ecucondorSA/Autamedica, changes with the owners that .github/CODEOWNERS names for each.
All owners: @autamedica/core-devs, @autamedica/frontend, @autamedica/ux, @autamedica/medical, @autamedica/business, @autamedica/backend, @autamedica/security, @autamedica/contracts, @autamedica/devops, @autamedica/qa, @autamedica/compliance

feat: Add auth callback route to patients app
  apps/patients/src/app/auth/callback/route.ts
Owners: @autamedica/medical, @autamedica/ux

fix: Use ensureClientEnv in patients callback route
  apps/patients/src/app/auth/callback/route.ts
Owners: @autamedica/medical, @autamedica/ux

feat(patients): Implementar sistema completo de videoconsultas
  apps/patients/src/components/appointments/CreateAppointmentModal.tsx
  apps/patients/src/components/consultation/VideoConsultation.tsx
  apps/patients/src/hooks/useAppointments.ts
  apps/patients/src/hooks/useRealRemoteStream.ts
  apps/patients/src/hooks/useWebRTCVideoCall.ts
Owners: @autamedica/medical, @autamedica/ux

fix(patients): Use client-only import for useSupabase in WebRTC hook
  apps/patients/src/app/auth/callback/route.ts
  apps/patients/src/hooks/useWebRTCVideoCall.ts
Owners: @autamedica/medical, @autamedica/ux

fix(patients): resolver error 404 post-login y problemas de build
  apps/patients/src/app/auth/callback/route.ts
  apps/patients/src/app/onboarding/actions.ts
Owners: @autamedica/medical, @autamedica/ux

fix(security): apply automated quickfixes from audit
  apps/doctors/public/_headers
  apps/patients/public/_headers
  apps/web-app/public/_headers
  package.json
Owners: @autamedica/security, @autamedica/devops, @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

feat(patients): Optimizar calculadora de salud preventiva con diseño compacto y colapsable
  apps/patients/src/components/preventive/PersonalizedScreeningCalculator.tsx
Owners: @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(health): resolver health check failures y preparar deployments
  .github/workflows/deploy-companies.yml
  docs/HEALTH_CHECK_RESOLUTION_REPORT.md
  scripts/node_fetch_check.mjs
Owners: @autamedica/devops, @autamedica/security, @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

chore(ci): relax jwt scan false positives
  .github/workflows/ci-monorepo.yml
Owners: @autamedica/devops, @autamedica/security

chore(ci): ignore known placeholder files in security scan
  .github/workflows/ci-monorepo.yml
Owners: @autamedica/devops, @autamedica/security

chore(ci): capture grep matches instead of exiting
  .github/workflows/ci-monorepo.yml
Owners: @autamedica/devops, @autamedica/security

chore(ci): skip generated reports in security scan
  .github/workflows/ci-monorepo.yml
Owners: @autamedica/devops, @autamedica/security

chore(ci): ignore videocall playwright artifacts
  .github/workflows/ci-monorepo.yml
Owners: @autamedica/devops, @autamedica/security

chore(ci): allow pnpm to update lockfile
  .github/workflows/ci-monorepo.yml
Owners: @autamedica/devops, @autamedica/security

fix(auth): expose public env vars and align supabase typing
  apps/auth/next.config.mjs
  apps/auth/src/__tests__/auth-service.test.ts
  apps/auth/src/__tests__/profile-manager.test.ts
  apps/auth/src/app/auth/select-role/components/PublicRoleSelectionForm.tsx
  apps/auth/src/app/auth/select-role/components/RoleSelectionForm.tsx
  apps/auth/src/components/SearchParamsWrapper.tsx
  apps/auth/src/lib/auth-service.ts
  apps/auth/src/lib/profile-manager.ts
  apps/auth/src/lib/supabase/client.ts
  apps/auth/src/lib/supabase/server.ts
  apps/auth/src/middleware.ts
  apps/auth/tsconfig.json
  apps/auth/vitest.config.ts
  apps/web-app/next.config.mjs
  config/next-app.config.mjs
  packages/shared/src/env.ts
  packages/types/src/supabase/database.types.ts
  tsconfig.base.json
Owners: @autamedica/core-devs, @autamedica/qa, @autamedica/security, @autamedica/backend, @autamedica/frontend, @autamedica/ux, @autamedica/contracts

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

chore(ci): allow pnpm install without frozen lockfile
  .github/workflows/auth-tests-issue-trigger.yml
  .github/workflows/auth-tests-manual.yml
  .github/workflows/auth-tests.yml
  .github/workflows/bundle-size.yml
  .github/workflows/database-glossary-minimal.yml
  .github/workflows/database-glossary-validation.yml
  .github/workflows/db-schema.yml
  .github/workflows/deploy-auth.yml
  .github/workflows/deploy-doctors.yml
  .github/workflows/deploy-patients-vercel.yml
  .github/workflows/deploy-patients.yml
  .github/workflows/deploy-web-app.yml
  .github/workflows/desplegar-preview.yml
  .github/workflows/desplegar-produccion.yml
  .github/workflows/desplegar-staging.yml
  .github/workflows/desplegar-workers.yml
  .github/workflows/role-system-validation.yml
  .github/workflows/seguridad.yml
  .github/workflows/validate-contracts.yml
  .github/workflows/verificacion-basica.yml
Owners: @autamedica/devops, @autamedica/security

Fix auth callback redirection
  apps/auth/src/app/auth/callback/route.ts
Owners: @autamedica/core-devs

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

patients: SessionSync + auth callback; ensure/patch profile APIs (Supabase SR); robust schema handling; personalized UI; E2E + schema probe
  .husky/post-checkout
  .husky/post-merge
  README_AGENTS.md
  apps/auth/next.config.mjs
  apps/patients/.env.local.example
  apps/patients/e2e/api-appointments.spec.ts
  apps/patients/e2e/api-medical-history.spec.ts
  apps/patients/e2e/api-profile.spec.ts
  apps/patients/e2e/ui-forgot-password.spec.ts
  apps/patients/e2e/ui-login-errors.spec.ts
  apps/patients/e2e/ui-login.spec.ts
  apps/patients/e2e/ui-register.spec.ts
  apps/patients/package.json
  apps/patients/playwright.config.ts
  apps/patients/src/app/(dashboard)/page.tsx
  apps/patients/src/app/(dashboard)/profile/page.tsx
  apps/patients/src/app/api/medical-history/allergies/route.ts
  apps/patients/src/app/api/medical-history/conditions/route.ts
  apps/patients/src/app/api/medical-history/medications/route.ts
  apps/patients/src/app/api/medical-history/route.ts
  apps/patients/src/app/api/profile/ensure/route.ts
  apps/patients/src/app/api/profile/route.ts
  apps/patients/src/app/auth/callback/page.tsx
  apps/patients/src/app/layout.tsx
  apps/patients/src/components/layout/DashboardLayout.tsx
  apps/patients/src/hooks/useMedicalHistory.ts
  apps/patients/src/hooks/usePatientSession.ts
  apps/patients/src/hooks/useProfile.ts
  apps/patients/test-results/.last-run.json
  package.json
  packages/hooks/tsconfig.build.tsbuildinfo
  packages/shared/.tsbuildinfo
  packages/shared/src/env.ts
  packages/telemedicine/tsconfig.build.tsbuildinfo
  packages/types/.tsbuildinfo
  prompts/local-mcp-playwright-patients.yaml
  scripts/db/probe-supabase-schema.mjs
  scripts/e2e/patients-login.mjs
  scripts/register-openai-agents.mjs
  scripts/watch-agents-config.mjs
Owners: @autamedica/core-devs, @autamedica/security, @autamedica/qa, @autamedica/devops, @autamedica/medical, @autamedica/ux, @autamedica/frontend, @autamedica/backend, @autamedica/contracts

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

patients: fix lint (no-empty in api routes, env access, unescaped quotes)
  apps/patients/src/app/api/profile/ensure/route.ts
  apps/patients/src/app/api/profile/route.ts
Owners: @autamedica/medical, @autamedica/ux

patients: lint fixes (env access, empty blocks, prefer-const, unescaped quotes); API cookie handlers return; tests no-empty
  AGENTS.md
  apps/patients/e2e/api-appointments.spec.ts
  apps/patients/e2e/api-medical-history.spec.ts
  apps/patients/e2e/api-profile.spec.ts
  apps/patients/e2e/ui-login.spec.ts
  apps/patients/src/app/(dashboard)/profile/page.tsx
  apps/patients/src/app/api/profile/ensure/route.ts
  apps/patients/src/app/api/profile/route.ts
Owners: @autamedica/core-devs, @autamedica/qa, @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

patients: add patient files API (list/init/delete) and AUTA AI endpoints (intent/context/chat); shared auth util for server routes
  AGENTS.md
  apps/patients/src/app/api/ai/chat/route.ts
  apps/patients/src/app/api/ai/context/route.ts
  apps/patients/src/app/api/ai/intent/route.ts
  apps/patients/src/app/api/files/route.ts
  apps/patients/src/lib/server/auth.ts
  package.json
Owners: @autamedica/core-devs, @autamedica/medical, @autamedica/ux, @autamedica/security, @autamedica/backend, @autamedica/devops

patients: fix lint optional-chain in files API
  apps/patients/src/app/api/files/route.ts
Owners: @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

patients: satisfy @typescript-eslint/prefer-optional-chain in files API
  apps/patients/src/app/api/files/route.ts
Owners: @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

✨ nova feature: Auta AI personalizada por usuario (patrones, FAQs y telemetría)
  apps/patients/src/app/api/ai/context/sync/route.ts
  apps/patients/src/app/api/ai/patterns/route.ts
  apps/patients/src/app/api/ai/telemetry/route.ts
  apps/patients/src/app/api/ai/update/route.ts
  apps/patients/src/lib/ai/context-builder.ts
  apps/patients/src/lib/ai/wordpiece-tokenizer.ts
  apps/patients/src/lib/demographics.ts
  package.json
  scripts/db/apply-ai-personalization.sh
  supabase/migrations/20251012_ai_user_personalization.sql
  supabase/seed_ai_personalization.sql
Owners: @autamedica/medical, @autamedica/ux, @autamedica/core-devs, @autamedica/devops, @autamedica/backend, @autamedica/security

🐛 fix(patients): resolver error 'Cannot access before initialization' en AutaChatbot
  AGENTS.md
  apps/patients/.env.local.example
  apps/patients/README.md
  apps/patients/e2e/ui-auta-identity.spec.ts
  apps/patients/public/models/README.md
  apps/patients/src/app/(dashboard)/preventive-health/page.tsx
  apps/patients/src/app/api/ai/context/route.ts
  apps/patients/src/app/api/profile/route.ts
  apps/patients/src/components/chat/AutaChatbot.tsx
  apps/patients/src/components/layout/DynamicRightPanel.tsx
  apps/patients/src/lib/ai/__tests__/identity.test.ts
  apps/patients/src/lib/ai/intent-classifier.ts
  apps/patients/src/lib/ai/medical-qa.ts
  apps/patients/src/lib/ai/onnx-service.ts
  scripts/ai/train_intent_classifier.py
Owners: @autamedica/core-devs, @autamedica/security, @autamedica/medical, @autamedica/ux, @autamedica/qa

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

✨ nova feature: API de anamnesis y almacenamiento por secciones
  apps/patients/src/app/(dashboard)/anamnesis/page.tsx
  apps/patients/src/app/api/ai/update/route.ts
  apps/patients/src/app/api/anamnesis/route.ts
  apps/patients/src/hooks/useAnamnesis.ts
  supabase/migrations/20251013_patient_anamnesis.sql
Owners: @autamedica/medical, @autamedica/ux, @autamedica/backend, @autamedica/security

✨ nova feature: API de citas médicas con mapeo a start_time y telemedicina
  apps/patients/src/app/api/appointments/[id]/route.ts
  apps/patients/src/app/api/appointments/route.ts
  apps/patients/src/app/api/appointments/utils.ts
  apps/patients/src/types/appointment.ts
Owners: @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

✨ nova feature: sesiones de telemedicina con endpoints REST y hook react
  apps/patients/src/app/api/telemedicine/session/[sessionId]/events/route.ts
  apps/patients/src/app/api/telemedicine/session/[sessionId]/participants/route.ts
  apps/patients/src/app/api/telemedicine/session/[sessionId]/route.ts
  apps/patients/src/app/api/telemedicine/session/route.ts
  apps/patients/src/components/telemedicine/EnhancedVideoCall.tsx
  apps/patients/src/hooks/useTelemedicine.ts
  supabase/migrations/20251013_link_telemedicine_appointment.sql
Owners: @autamedica/medical, @autamedica/ux, @autamedica/backend, @autamedica/security

.github/CODEOWNERS:

# CODEOWNERS - Gobierno de AutaMedica
# Cada línea es un patrón seguido de uno o más propietarios.
# El último patrón que coincida tendrá precedencia.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Core team debe revisar todo
* @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# APLICACIONES
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/apps/web-app/**            @autamedica/frontend @autamedica/ux
/apps/doctors/**            @autamedica/medical @autamedica/frontend
/apps/patients/**           @autamedica/medical @autamedica/ux
/apps/companies/**          @autamedica/business @autamedica/frontend
/apps/admin/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# PACKAGES (Shared Code)
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/packages/types/**           @autamedica/contracts @autamedica/core-devs
/packages/auth/**            @autamedica/security @autamedica/backend
/packages/shared/**          @autamedica/backend @autamedica/core-devs
/packages/hooks/**           @autamedica/frontend @autamedica/core-devs
/packages/ui/**              @autamedica/frontend @autamedica/ux
/packages/database/**        @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DATABASE & INFRAESTRUCTURA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Supabase (critical)
/supabase/**                @autamedica/backend @autamedica/security
/supabase/migrations/**     @autamedica/backend @autamedica/security @autamedica/medical

# RLS policies (security critical)
/supabase/migrations/*rls*  @autamedica/security @autamedica/backend

# Seed data
/supabase/seed*.sql         @autamedica/backend

# Database legacy
/database/**                @autamedica/backend @autamedica/security
/migrations/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CI/CD & AGENTIC OS
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# GitHub Actions workflows
/.github/workflows/**       @autamedica/devops @autamedica/security

# Agentic OS workflow (critical)
/.github/workflows/autamedica-agentic.yml @autamedica/devops @autamedica/core-devs

# Deployment & rollback scripts (critical)
/scripts/*deploy*           @autamedica/devops
/scripts/*rollback*         @autamedica/devops
/scripts/health-gate.mjs    @autamedica/devops @autamedica/qa
/scripts/slo-budget-check.mjs @autamedica/devops
/scripts/k6-smoke.js        @autamedica/devops @autamedica/qa

# Infrastructure
/workers/**                 @autamedica/backend @autamedica/devops
wrangler.toml               @autamedica/devops
turbo.json                  @autamedica/devops @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# SEGURIDAD & COMPLIANCE
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Security headers (critical)
/**/_headers                @autamedica/security @autamedica/devops

# Environment variables (critical)
**/*.env*                   @autamedica/security
.env*                       @autamedica/security

# Security docs
SECURITY.md                 @autamedica/security
/docs/security/**           @autamedica/security @autamedica/compliance

# Auth & roles (critical)
/**/*auth*.ts               @autamedica/security @autamedica/backend
/**/*auth*.tsx              @autamedica/security @autamedica/frontend
/**/*role*.ts               @autamedica/security @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DOCUMENTACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Main docs
/README.md                  @autamedica/core-devs
/CLAUDE.md                  @autamedica/core-devs
/agente.md                  @autamedica/core-devs

# Medical docs & contracts
/docs/GLOSARIO_MAESTRO.md   @autamedica/medical @autamedica/contracts
/docs/medical/**            @autamedica/medical @autamedica/compliance
/scripts/validate-contracts.js @autamedica/contracts @autamedica/devops
/scripts/validate-conventions.mjs @autamedica/core-devs @autamedica/devops

# API docs
/docs/api/**                @autamedica/backend @autamedica/contracts

# Database docs
/docs/database/**           @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# TESTING & QA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/tests/**                   @autamedica/qa @autamedica/backend
**/test/**                  @autamedica/qa
**/*.test.*                 @autamedica/qa
**/*.spec.*                 @autamedica/qa
playwright.config.*         @autamedica/qa @autamedica/devops
vitest.config.*             @autamedica/qa @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CONFIGURACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

package.json                @autamedica/core-devs @autamedica/devops
pnpm-workspace.yaml         @autamedica/core-devs
pnpm-lock.yaml              @autamedica/core-devs
tsconfig*.json              @autamedica/core-devs
.eslintrc*                  @autamedica/core-devs
.prettierrc*                @autamedica/core-devs
.gitignore                  @autamedica/core-devs
