Repository ecucondorSA/Autamedica, changes with the owners that .github/CODEOWNERS names for each.
All owners: @autamedica/core-devs, @autamedica/frontend, @autamedica/ux, @autamedica/medical, @autamedica/business, @autamedica/backend, @autamedica/security, @autamedica/contracts, @autamedica/devops, @autamedica/qa, @autamedica/compliance

.github/CODEOWNERS:

# CODEOWNERS - Gobierno de AutaMedica
# Cada línea es un patrón seguido de uno o más propietarios.
# El último patrón que coincida tendrá precedencia.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - Core team debe revisar todo
* @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# APLICACIONES
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/apps/web-app/**            @autamedica/frontend @autamedica/ux
/apps/doctors/**            @autamedica/medical @autamedica/frontend
/apps/patients/**           @autamedica/medical @autamedica/ux
/apps/companies/**          @autamedica/business @autamedica/frontend
/apps/admin/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# PACKAGES (Shared Code)
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/packages/types/**           @autamedica/contracts @autamedica/core-devs
/packages/auth/**            @autamedica/security @autamedica/backend
/packages/shared/**          @autamedica/backend @autamedica/core-devs
/packages/hooks/**           @autamedica/frontend @autamedica/core-devs
/packages/ui/**              @autamedica/frontend @autamedica/ux
/packages/database/**        @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DATABASE & INFRAESTRUCTURA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Supabase (critical)
/supabase/**                @autamedica/backend @autamedica/security
/supabase/migrations/**     @autamedica/backend @autamedica/security @autamedica/medical

# RLS policies (security critical)
/supabase/migrations/*rls*  @autamedica/security @autamedica/backend

# Seed data
/supabase/seed*.sql         @autamedica/backend

# Database legacy
/database/**                @autamedica/backend @autamedica/security
/migrations/**              @autamedica/backend @autamedica/security

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CI/CD & AGENTIC OS
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# GitHub Actions workflows
/.github/workflows/**       @autamedica/devops @autamedica/security

# Agentic OS workflow (critical)
/.github/workflows/autamedica-agentic.yml @autamedica/devops @autamedica/core-devs

# Deployment & rollback scripts (critical)
/scripts/*deploy*           @autamedica/devops
/scripts/*rollback*         @autamedica/devops
/scripts/health-gate.mjs    @autamedica/devops @autamedica/qa
/scripts/slo-budget-check.mjs @autamedica/devops
/scripts/k6-smoke.js        @autamedica/devops @autamedica/qa

# Infrastructure
/workers/**                 @autamedica/backend @autamedica/devops
wrangler.toml               @autamedica/devops
turbo.json                  @autamedica/devops @autamedica/core-devs

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# SEGURIDAD & COMPLIANCE
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Security headers (critical)
/**/_headers                @autamedica/security @autamedica/devops

# Environment variables (critical)
**/*.env*                   @autamedica/security
.env*                       @autamedica/security

# Security docs
SECURITY.md                 @autamedica/security
/docs/security/**           @autamedica/security @autamedica/compliance

# Auth & roles (critical)
/**/*auth*.ts               @autamedica/security @autamedica/backend
/**/*auth*.tsx              @autamedica/security @autamedica/frontend
/**/*role*.ts               @autamedica/security @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# DOCUMENTACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Main docs
/README.md                  @autamedica/core-devs
/CLAUDE.md                  @autamedica/core-devs
/agente.md                  @autamedica/core-devs

# Medical docs & contracts
/docs/GLOSARIO_MAESTRO.md   @autamedica/medical @autamedica/contracts
/docs/medical/**            @autamedica/medical @autamedica/compliance
/scripts/validate-contracts.js @autamedica/contracts @autamedica/devops
/scripts/validate-conventions.mjs @autamedica/core-devs @autamedica/devops

# API docs
/docs/api/**                @autamedica/backend @autamedica/contracts

# Database docs
/docs/database/**           @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# TESTING & QA
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/tests/**                   @autamedica/qa @autamedica/backend
**/test/**                  @autamedica/qa
**/*.test.*                 @autamedica/qa
**/*.spec.*                 @autamedica/qa
playwright.config.*         @autamedica/qa @autamedica/devops
vitest.config.*             @autamedica/qa @autamedica/backend

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# CONFIGURACIÓN
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

package.json                @autamedica/core-devs @autamedica/devops
pnpm-workspace.yaml         @autamedica/core-devs
pnpm-lock.yaml              @autamedica/core-devs
tsconfig*.json              @autamedica/core-devs
.eslintrc*                  @autamedica/core-devs
.prettierrc*                @autamedica/core-devs
.gitignore                  @autamedica/core-devs

feat(db): implementar tabla telemedicine_sessions completa
  supabase/migrations/20251013_telemedicine_sessions.sql
Owners: @autamedica/backend, @autamedica/security, @autamedica/medical

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

feat(telemedicine): integrar LiveKit signaling y mejorar componente VideoCall
  apps/patients/src/app/api/telemedicine/session/route.ts
  apps/patients/src/components/telemedicine/EnhancedVideoCall.tsx
  apps/patients/src/hooks/useTelemedicine.ts
Owners: @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

feat(telemedicine): crear suite completa de componentes React para videoconsulta
  apps/patients/src/components/telemedicine/ChatPanel.tsx
  apps/patients/src/components/telemedicine/ParticipantGrid.tsx
  apps/patients/src/components/telemedicine/SessionControls.tsx
  apps/patients/src/components/telemedicine/SessionStats.tsx
  apps/patients/src/components/telemedicine/index.ts
Owners: @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

fix(telemedicine): remover imports sin usar en ParticipantGrid
  apps/patients/src/components/telemedicine/ParticipantGrid.tsx
Owners: @autamedica/medical, @autamedica/ux

📝 docs: actualizar changelog automático
  CHANGELOG.md
Owners: @autamedica/core-devs

feat(telemedicine): Mejorar la configuración del servidor de señalización y los feature flags
  apps/patients/.env.local.example
  apps/patients/src/app/api/telemedicine/session/route.ts
  packages/shared/src/config/feature-flags.ts
  packages/shared/src/env.ts
Owners: @autamedica/security, @autamedica/medical, @autamedica/ux, @autamedica/backend, @autamedica/core-devs

fix(deps): Especificar versión de path-to-regexp en pnpm overrides
  package.json
Owners: @autamedica/core-devs, @autamedica/devops

feat: Configuración completa de LiveKit y corrección de errores
  apps/doctors/src/app/layout.tsx
  apps/doctors/src/contexts/AuthContext.tsx
  apps/signaling-server/src/server.ts
  apps/signaling-server/src/utils/express-compat.ts
  apps/signaling-server/tsconfig.tsbuildinfo
  docs/LIVEKIT_TESTING_GUIDE.md
  docs/LOGIN_INSTRUCTIONS.md
  packages/session/src/index.ts
  pnpm-lock.yaml
  scripts/create-doctor-user.mjs
  scripts/login-doctor.mjs
Owners: @autamedica/medical, @autamedica/frontend, @autamedica/core-devs

feat: Optimizaciones críticas de performance en portal doctors
  apps/doctors/next.config.mjs
  apps/doctors/src/app/page.tsx
  apps/patients/src/components/telemedicine/EnhancedVideoCall.tsx
Owners: @autamedica/medical, @autamedica/frontend, @autamedica/ux

fix: Corregir errores de lint en optimizaciones
  apps/doctors/src/app/page.tsx
  apps/patients/src/components/telemedicine/EnhancedVideoCall.tsx
Owners: @autamedica/medical, @autamedica/frontend, @autamedica/ux

fix: Configurar CORS multi-origin en signaling server
  apps/signaling-server/src/server.ts
  docs/DOCTORS_PORTAL_OPTIMIZATIONS.md
Owners: @autamedica/core-devs

docs: Agregar documentación completa de arquitectura de servicios
  docs/SERVICES_ARCHITECTURE.md
Owners: @autamedica/core-devs

docs: Reporte completo de mejoras de performance
  docs/PERFORMANCE_IMPROVEMENTS_REPORT.md
Owners: @autamedica/core-devs

fix: Mejorar manejo de errores en useRealDoctors hooks
  apps/doctors/src/hooks/useRealDoctors.ts
Owners: @autamedica/medical, @autamedica/frontend
