Repository ecucondorSA/Autamedica, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, infra, docs, testing, security, medical, config, dependencies, types, web-app, doctors-app, patients-app, companies-app, admin-app, auth-package, shared-package, hooks-package, ui-package

🤖 feat: sistema AI/DX enterprise - calidad + automatización + IA
  .eslintrc.cjs
  .github/pull_request_template.md
  .github/workflows/ai-review-claude.yml
  .github/workflows/ai-review-gpt.yml
  .github/workflows/changelog.yml
  .github/workflows/comentar-preview.yml
  .github/workflows/verificacion-basica.yml
  .husky/pre-commit
  .husky/pre-push
  apps/admin/tsconfig.json
  apps/companies/tsconfig.json
  apps/doctors/src/app/call/[roomId]/CallPageClient.tsx
  apps/doctors/tsconfig.json
  apps/patients/tsconfig.json
  apps/web-app/tsconfig.json
  docs/adr/README.md
  package.json
  packages/auth/tsconfig.json
  packages/auth/tsconfig.tsbuildinfo
  packages/hooks/tsconfig.json
  packages/shared/tsconfig.json
  packages/telemedicine/tsconfig.json
  packages/types/tsconfig.json
  packages/typescript-config/tsconfig.strict.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.tsbuildinfo
  packages/utils/tsconfig.json
  packages/utils/tsconfig.tsbuildinfo
  scripts/ai-pr-review.sh
  scripts/validate-exports.mjs
  tsconfig.json
  turbo.json
Labels: frontend, backend, infra, docs, security, config, dependencies, types, web-app, doctors-app, patients-app, companies-app, admin-app, auth-package, shared-package, hooks-package, ui-package

fix(ci): resolve memory and build order pipeline issues
  packages/auth/tsconfig.json
  packages/ui/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
Labels: frontend, backend, security, config, auth-package, ui-package

📚 docs: agregar descripción sistema AI/DX enterprise
  README.md
Labels: docs

🔧 fix: agregar timeout 900s a prepush hooks
  package.json
Labels: config, dependencies

🔧 fix: aumentar memoria NODE_OPTIONS para ESLint
  package.json
Labels: config, dependencies

✨ nova feature: smoke test AI/DX & CI
  apps/web-app/smoke.ts
  pr.diff
  scripts/ai-pr-review.sh
Labels: frontend, web-app

feat(db): introduce organizations/org_members/user_roles with organization_admin role
  packages/auth/tsconfig.json
  packages/shared/src/env.ts
  packages/shared/src/role-routing.ts
  packages/types/package.json
  supabase/migrations/20250929_introduce_role_system.sql
Labels: backend, security, config, dependencies, types, auth-package, shared-package

feat: complete role system implementation with tests, seeds and CI/CD
  packages/shared/__tests__/role-routing.test.ts
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  packages/shared/tsconfig.tsbuildinfo
Labels: backend, testing, config, shared-package

fix: enable composite mode for auth package
  packages/auth/tsup.config.ts
Labels: backend, security, config, auth-package

fix: add missing organization_admin role to role selection form
  apps/web-app/src/app/auth/select-role/RoleSelectionForm.tsx
Labels: frontend, security, web-app

security: remove hardcoded keys, unified role routing, secure cookies
  .env.staging
  AUDIT_REPORT.md
  apps/admin/middleware.ts
  apps/companies/middleware.ts
  apps/doctors/middleware.ts
  package.json
  packages/auth/src/client/supabase.ts
  packages/shared/dist-esm/__tests__/role-routing.test.js
  packages/shared/dist-esm/src/env.js
  packages/shared/dist-esm/src/env.test.js
  packages/shared/dist-esm/src/index.js
  packages/shared/dist-esm/src/role-routing.js
  packages/shared/dist-esm/src/services/logger.service.js
  packages/shared/dist-esm/src/validators.js
  packages/shared/dist-esm/src/validators.test.js
  packages/shared/dist-esm/vitest.config.js
  packages/shared/src/auth/session.ts
  packages/shared/src/env/getAppUrl.ts
  packages/shared/src/env/portals.ts
  packages/shared/src/index.ts
  packages/shared/src/security/redirects.ts
  packages/shared/tsconfig.temp.json
  packages/shared/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  scripts/release-org-roles.sh
  test-cloudflare-endpoints.mjs
  test-role-routing-cloudflare.mjs
  test-role-routing-simple.mjs
  test-role-routing.mjs
Labels: frontend, backend, docs, testing, security, config, dependencies, doctors-app, companies-app, admin-app, auth-package, shared-package

docs(db): glosario BD híbrido (SQL parsing auto + HIPAA + ERD) – CI gates
  .github/workflows/database-glossary-minimal.yml
  .github/workflows/database-glossary-validation.yml
  config/hipaa.columns.json
  package.json
  pnpm-lock.yaml
  scripts/database-glossary/README.md
  scripts/database-glossary/adapters/postgresql.ts
  scripts/database-glossary/adapters/sql-parser.ts
  scripts/database-glossary/cli/index.ts
  scripts/database-glossary/templates/helpers.js
  scripts/database-glossary/templates/hipaa-compliance.hbs
  scripts/database-glossary/templates/main.hbs
  scripts/database-glossary/templates/table-detail.hbs
  scripts/database-glossary/tsconfig.json
  scripts/database-glossary/types/index.ts
  scripts/database-glossary/utils/hipaa-classifier.ts
  scripts/database-glossary/utils/pg-to-ts-mapper.ts
  supabase/migrations/_archive/20250920000001_create_medical_tables.sql.applied
  supabase/migrations/_archive/20250922000002_fix_rls_policies.sql.applied
  supabase/migrations/_archive/20250928_create_calls_system.sql.applied
  supabase/migrations/_archive/20250929_create_profiles_table.sql.applied
  supabase/migrations/_archive/20250929_introduce_role_system.sql.applied
Labels: infra, docs, medical, config, dependencies, types

docs: link database glossary from GLOSARIO_MAESTRO
  docs/GLOSARIO_MAESTRO.md
Labels: docs

fix(gsap-carousel): dots controlan navegación y se sincronizan con ScrollTrigger
  apps/web-app/src/components/experience/HorizontalExperience.tsx
Labels: frontend, web-app

fix(auth): reemplazar process.env con ensureEnv en routes API
  apps/auth/src/app/api/health/route.ts
  apps/auth/src/app/api/session-sync/route.ts
  apps/auth/src/app/auth/callback/route.ts
  generated-docs/database-glossary-2025-09-30.md
  scripts/monitor-auth.mjs
Labels: frontend, backend, docs, security

fix(auth): variable error no usada en catch block
  .husky/pre-push
  apps/auth/src/app/auth/callback/route.ts
  apps/auth/wrangler.toml
  generated-docs/database-glossary-2025-09-30.md
  pnpm-lock.yaml
Labels: frontend, docs, security, config, dependencies

fix(cloudflare): build command para web-app solo (evita build de otras apps)
  AUTH_DEPLOYMENT_STATUS.md
  apps/admin/middleware.ts
  apps/admin/tailwind.config.ts
  apps/auth/src/app/auth/callback/route.ts
  apps/doctors/src/app/call/[roomId]/page.tsx
  apps/doctors/src/app/webrtc-test/page.tsx
  apps/doctors/src/lib/supabase.ts
  apps/web-app/wrangler.toml
  generated-docs/database-glossary-2025-09-30.md
  package.json
  packages/hooks/tsconfig.tsbuildinfo
  packages/telemedicine/tsconfig.tsbuildinfo
Labels: frontend, backend, docs, security, config, dependencies, web-app, doctors-app, admin-app, hooks-package

fix(cloudflare): remover [build] de wrangler.toml (no soportado en Pages)
  CLOUDFLARE_PAGES_CONFIG.md
  apps/web-app/wrangler.toml
  generated-docs/database-glossary-2025-09-30.md
Labels: frontend, docs, config, web-app

fix(web-app): actualizar build:cloudflare script
  apps/web-app/package.json
  generated-docs/database-glossary-2025-09-30.md
Labels: frontend, docs, config, dependencies, web-app

docs: agregar guía completa de deployment para Cloudflare Pages
  DEPLOYMENT_GUIDE.md
  generated-docs/database-glossary-2025-09-30.md
Labels: docs

.github/labeler.yml:

# Auto-labeler configuration for Autamedica
# https://github.com/actions/labeler

# Frontend/UI related
frontend:
  - "apps/**"
  - "**/*.tsx"
  - "**/*.css"
  - "**/*.scss"
  - "**/components/**"
  - "**/ui/**"

# Backend/API related
backend:
  - "packages/**"
  - "**/*.api.ts"
  - "**/server/**"
  - "**/api/**"
  - "workers/**"

# Infrastructure and DevOps
infra:
  - ".github/**"
  - "wrangler.toml"
  - "turbo.json"
  - "**/deployment/**"
  - "**/*deploy*"
  - "**/*ci*"
  - "**/*cd*"

# Documentation
docs:
  - "docs/**"
  - "**/*.md"
  - "**/*.mdx"
  - "**/README*"

# Testing
testing:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "tests/**"
  - "**/test/**"
  - "playwright.config.*"
  - "vitest.config.*"

# Security related
security:
  - "**/*.env*"
  - "**/auth/**"
  - "**/security/**"
  - "SECURITY.md"
  - "**/*security*"
  - "**/*auth*"

# Medical/Healthcare specific
medical:
  - "**/medical/**"
  - "**/patient/**"
  - "**/doctor/**"
  - "**/hipaa/**"
  - "**/*medical*"
  - "**/*patient*"
  - "**/*doctor*"

# Configuration
config:
  - "**/*.config.*"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.yaml"
  - "**/*.yml"
  - ".gitignore"
  - ".env*"

# Dependencies
dependencies:
  - "package.json"
  - "pnpm-lock.yaml"
  - "**/package.json"

# Types and contracts
types:
  - "packages/types/**"
  - "**/*.types.ts"
  - "**/*.d.ts"
  - "**/types/**"

# Specific apps
web-app:
  - "apps/web-app/**"

doctors-app:
  - "apps/doctors/**"

patients-app:
  - "apps/patients/**"

companies-app:
  - "apps/companies/**"

admin-app:
  - "apps/admin/**"

# Packages
auth-package:
  - "packages/auth/**"

shared-package:
  - "packages/shared/**"

hooks-package:
  - "packages/hooks/**"

ui-package:
  - "packages/ui/**"
